body {
    margin: 0;
    background-color: #1a1a1a;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: false;
    align-items: false;
    height: 100vh;
    overflow: hidden;
}

/* Game Screen ka layout sahi karne ke liye */
#game-screen {
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.game-header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 400px;
    margin-bottom: 15px;
    align-items: center;
}

/* Board ka size mobile par fix karne ke liye */
#myBoard {
    width: 95vw;
    max-width: 400px;
    margin: 10px auto;
    touch-action: none; /* Mobile scroll issue fix */
}

.game-footer {
    margin-top: 20px;
    width: 90%;
    max-width: 400px;
}

.btn-back, .btn-reset {
    padding: 8px 15px;
    background: #444;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
